@import url(./src/css/header.css);
@import url(./src/css/topico.css);
@import url(./src/css/card.css);
@import url(./src/css/vagas.css);
@import url(./src/css/depoimentos.css);
@import url(./src/css/rodape.css);

:root {
    --cor-principal: #FFFFFF;
    --cor-texto-principal: #3A404E;
    --cor-texto-secundaria: #667085;
    --cor-botao-cadastrar: #8E2424;
    --cor-texto-botao: #FFFFFF;
    --cor-borda-cinza: rgba(102, 112, 133, 0.2);

    --cor-texto-topico-secundario: #8E2424;
    --cor-texto-preta: #101828;

    --cor-texto2-rodape: #98A2B3;
    --cor-fundo-secundario: rgba(195, 25, 25);
    --cor-fundo-terciario: #F9FAFB;

    --cor-fundo-botao: rgba(142,36,36,0.1);

    --font-principal: 'Inter'
}

body {
    background: var(--cor-principal);
    font-size: 1.125rem;
    font-family: var(--font-principal);
}